<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Entrar</h1>
                    <p class="text-center lead">Faça login</p>

                    <div class="row">
                        <div class="col-md-6 mx-auto my-4">
                            <h4>Fazer login</h4>
                            <p>Faça o login da sua conta:</p>

                            <form action="/login/logued" method="POST">
                                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                                <div class="form-group">
                                    <label for="login">Email de login</label>
                                    <input type="email" class="form-control" name="login" id="login"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword1">Password</label>
                                    <input type="password" class="form-control" name="login-pw" id="inputPassword1"
                                        placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Entar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>

        <%- include('includes/footer') %>